body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("/img/404.jpg");
  height: 100%;
}
.bgimg-2{
  background-image: url("/img/500s.jpg");
  height: 100%;
}
h3{
  color:black;
}